* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: sans-serif;
	background-color: #f3f3f4;
	color: black;
}

header {
	width: 100%;
	background-color: pink;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px;
}

@media screen and (max-width: 600px) {
	header {
		position: fixed;
	}
}

header h3 {
	color: rgb(146, 0, 24);
}

nav {
	display: flex;
	background-color: pink;
}

@media screen and (max-width: 600px) {
	nav {
		height: 700px;
		width: 180px;
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		padding: 200px 0;
		position: fixed;
		background-color: hsl(345 83% 30% / 0.1);
		backdrop-filter: blur(1rem);
	}
}

ul {
	display: flex;
}

@media screen and (max-width: 600px) {
	ul {
		flex-direction: column;
		text-align: center;
	}
}



ul li {
	list-style: none;
	font-size: 14px;
	margin-left: 8px;
}

@media screen and (max-width: 600px) {
	ul li {
		font-size: 25px;
		margin-bottom: 30px;
	}
}

ul li a {
	color: white;
	text-decoration: none;
}

ul li a:hover {
	color: #f00;
	border-bottom: 3px solid #fff;
}

.mobile-toggle {
	display: none;
}

.close-icon {
	display: none;
	position: absolute;
	top: 20px;
	right: 10px;
}

@media screen and (max-width: 600px) {
	.mobile-toggle {
		display: flex;
	}
}

