* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: sans-serif;
	background-color: #f3f3f4;
	color: black;
}

header {
	background-color: pink;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px;
}

header h3 {
	color: rgb(146, 0, 24);
}

ul {
	display: flex;
}

ul li {
	list-style: none;
	font-size: 12px;
	margin-left: 8px;
}

ul li a {
	color: white;
	text-decoration: none;
}

ul li a:hover {
	color: #f00;
	border-bottom: 3px solid #fff;
}

/* showcase section */
.showcase {
	height: 70vh;
	color: rgba(255, 255, 255, 0.603);
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: rgba(0, 0, 0, 0.541) url("./img/Glorius-cakes.jpg") no-repeat
		center center;
	background-size: cover;
	background-blend-mode: multiply;
}

.showcase-button {
	margin-top: 20px;
}

.showcase-button button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
}

.showcase-button button:hover {
	transform: scale(0.98);
}

.showcase-button button:last-child {
	background-color: pink;
	color: black;
}

/* product section */
section.product h3 {
	margin: 30px 0;
	text-align: center;
}

.card:hover {
	transform: translateY(-15px);
}

.card {
	border: 1px solid gray;
	width: 18rem;
	margin: 30px auto;
}

.card-text {
	padding: 15px;
}

.card-image-1 {
	height: 160px;
	background: rgb(94, 94, 94) url("./img/sweet-cupcake.jpg") no-repeat center
		center;
	background-size: cover;
}

.card-image-2 {
	height: 160px;
	background: rgb(94, 94, 94) url("img/delicious-cakes.jpg") no-repeat center
		center;
	background-size: cover;
}

.card-image-3 {
	height: 160px;
	background: rgb(94, 94, 94) url("img/nice-cupcake.jpg") no-repeat center
		center;
	background-size: cover;
}

.card-image-4 {
	height: 160px;
	background: rgb(94, 94, 94) url("/img/chocolate-cupcake.jpg") no-repeat center
		center;
	background-size: cover;
}

.card-image-5 {
	height: 160px;
	background: rgb(94, 94, 94) url("img/Cupcake-supreme.jpg") no-repeat center
		center;
	background-size: cover;
}

.card-button button {
	background-color: pink;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	font-size: 18px;
}

.card-button button:hover {
	transform: scale(0.98);
}

.card-button {
	text-align: center;
	margin-bottom: 20px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
	header {
		padding: 20px;
	}

	ul li {
		font-size: 16px;
		margin-left: 20px;
	}
}

@media screen and (min-width: 1000px) {
	header {
		padding: 20px;
	}

	ul li {
		font-size: 16px;
		margin-left: 20px;
	}

	.showcase-button button {
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		font-size: 18px;
	}

	.showcase h1 {
		width: 50%;
		text-align: center;
	}

	.card-wrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
